@import "tailwindcss";
@import "uniwind";

@import 'heroui-native/styles';
@source './node_modules/heroui-native/lib';

@theme {
  --color-primary: #72D000;
  --color-secondary: #72d00026;
  --color-transparent-day: #0000000f;
  --color-hint-day: #A0A0A0;
  --color-text-day: #1B1B1B;
  --font-family-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-family-inter-regular: 'Inter-Regular';
  --font-family-inter-medium: 'Inter-Medium';
  --font-family-inter-semibold: 'Inter-SemiBold';
  --font-family-inter-bold: 'Inter-Bold';
  --font-family-inter-extrabold: 'Inter-ExtraBold';
  --font-family-inter-black: 'Inter-Black';
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}